:root {
    --main-bg-color: rgb(18, 24, 36);
    --button-presed: rgb(38, 45, 64);
    --white-color: rgb(214, 214, 214);
    --accent-button: rgb(106, 105, 245);
    --accent-text: rgb(71, 82, 102);
}

body {
    color: var(--white-color);
    background-color: var(--main-bg-color);
}

#fullContents {
    margin: auto;
    width: 85%;
    margin-top: 30px;
}

#navBar {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#right { /* right side of nav bar*/
    display: flex;
    justify-content: space-between;
}

#rightMid {
    display: flex;
    justify-content: space-between;
}

#aboutMe {
    margin-left: 65px;
    background-color: var(--accent-button);
}

#aboutMe:hover {
    background-color: var(--button-presed);
}

.navItem {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.navItem:hover {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--button-presed);
}

#contentGap {
    height: 75px;
}

/*page information*/
#meContent {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 4%;
    justify-content: space-between;
}

.contentCol {
    width: 48%;
}

#meText {
    background-color: var(--button-presed);
    padding: 2%;
    border-radius: 15px;
}

.downloadButton {
    padding: 1%;
    background-color: var(--accent-button);
    margin: auto;
}

#mePhotoImg {
    width: 100%;
    height: auto;
    border-radius: 15px;
}