:root {
    --main-bg-color: rgb(18, 24, 36);
    --button-presed: rgb(38, 45, 64);
    --white-color: rgb(214, 214, 214);
    --accent-button: rgb(106, 105, 245);
    --accent-button-presed: rgb(52, 51, 112);
    --accent-text: rgb(71, 82, 102);
}

body {
    color: var(--white-color);
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: var(--white-color);
}

#fullContents {
    margin: auto;
    width: 77%;
    margin-top: 30px;
}

/*header*/
#navBar {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/*left side*/
#left {
    display: flex;
    justify-content: space-between;
    background-color: var(--button-presed);
    border-radius: 15px;
    padding: 0px 35px;
    gap: 2.5vw;
    font-size: 20px;
}

#GIcon {
    width: 2.5vw;
    height: auto;
    margin: auto;
}

/* right side*/
#right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    gap: 30px;
}

#rightMid {
    display: flex;
    justify-content: space-between;
}

#aboutMe {
    background-color: var(--accent-button);
}

#aboutMe:hover {
    background-color: var(--button-presed);
}

.navItem {
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 6px;
}

.navItem:hover {
    background-color: var(--button-presed);
}

#contentGap {
    height: 50px;
}

/*page information*/
#meContent {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
}

.contentCol {
    width: 47.5%;
}

#meText {
    background-color: var(--button-presed);
    padding: 2% 4.5%;
    border-radius: 15px;
}

#writtenContent {
    margin-top: 35px;
}

#hello {
    font-size: 24px;
    line-height: 18px;
}

#namecard {
    line-height: 45px;
    font-size: 46px;
}

#majorTextContainer {
    margin-top: 75px;
    margin-bottom: 55px;
}

#webDev {
    line-height: 10px;
}

#goal {
    font-size: 22px;
}

.majorText {
    font-size: 32px;
}

#resumeContainer {
    position: relative;
    -ms-transform: translate(47%, 40%);
    transform: translate(47%, 40%);
    display: flex;
}

.downloadButton {
    color: var(--white-color);
    padding: 26px 40px;
    font-size: 26px;
    background-color: var(--accent-button);
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
}

.downloadButton:hover {
    background-color: var(--accent-button-presed);
}

#mePhotoImg {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/*Footer*/
#footerGap {
    height: 50px;
}

#footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1vh;
    margin-bottom: 50px;
}

#footerLinks {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.logoLink {
    width: 3vw;
    height: auto;
}

.logoLink:hover {
    -webkit-filter: invert(95%);
    filter: invert(95%);
}

#footerText {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2vw;
}